# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
# Only exists if Bazel was run
frontend/bazel-out

# dependencies
frontend/node_modules
backend/node_modules





