<h3>My order List {{ counter }} Products are Added</h3>

<section class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="card wish-list mb-3 mt-3">
        <div class="card-body">
          <h5 class="mb-4">
            Cart (<span>{{ counter }}</span> items)
          </h5>
          <div *ngFor="let item of cart[0]; let i = index">
            <div class="row mb-4">
              <div class="col-md-5 col-lg-3 col-xl-3">
                <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                  <img
                    [src]="item.image"
                    alt="images"
                    class="img-fluid w-100"
                  />
                  <a href="#!"> </a>
                </div>
              </div>
              <div class="col-md-7 col-lg-9 col-xl-9">
                <div>
                  <div class="d-flex justify-content-between">
                    <div>
                      <h4>{{ item.title }}</h4>

                      <p class="mb-2  text-uppercase small">
                        Category:&nbsp;{{ item.category }}
                      </p>

                      <p class="mb-3 text">
                        Discription:&nbsp;{{ item.description }}
                      </p>
                    </div>
                    <div>
                      <div class="def-number-input safari_only mb-0 w-100">
                        <div class="quantity">
                          <!--
                        <input type="button" value="-" class="minus" [(ngModel)]="quantity" (click)="onUpdateQuantity(0, item.id)">

                        <input type="number" value="1" step="1" max="99" min="1" [(ngModel)]="quantity"  class="quantity" size="4">
                        <input type="button" value="+" class="plus" (click)="onUpdateQuantity(1, item.id)"> -->
                        </div>

                        <!-- <input
                          type="button"
                          value="-"
                          class="minus"
                          (click)="onUpdateQuantity(0,item)"
                          class="minus"
                        /> -->
                        <input
                          class="quantity"
                          min="1"
                          style="text-align: -webkit-center; width: 4em; background: #fff; color: #333;"
                          name="quantity"
                          [(ngModel)]="item.quantity"
                          value="{{ item.qtyTotal }}"
                          type="number"
                        />
                        <!-- <input
                          type="button"
                          value="+"
                          class="plus"
                          (click)="onUpdateQuantity(1,item)"
                        /> -->
                      </div>
                      <small
                        id="passwordHelpBlock"
                        class="form-text text-center"
                      >
                        (Note, 1 piece)
                      </small>
                    </div>
                  </div>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <p class="mb-1">
                      <strong
                        >Price:&nbsp;<span>{{
                          item.price | currency: "USD":"symbol":"2.1"
                        }}</span></strong
                      ><br />
                    </p>
                    <div>
                      <button
                        type="button"
                        class="btn btn-outline-light"
                        (click)="onRemove(item)"
                      >
                        <i class="fas fa-trash-alt mr-1"></i> Remove item
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
          <p class="text-primary mb-0">
            <i class="fas fa-info-circle mr-1"></i> Do not delay the purchase,
            adding items to your cart does not mean booking them.
          </p>
        </div>
      </div>

      <div class="card mb-3 mt-3">
        <div class="card-body">
          <h5 class="mb-4">Expected shipping delivery</h5>
          <p class="mb-0">{{ today | date: "short" }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li
              class="
                d-flex
                justify-content-between
                align-items-center
                border-0
                px-0
                pb-0
              "
            >
              The total amount of
              <span>{{ Totalprice | currency: "USD":"symbol":"2.1" }}</span>
            </li>
            <li
              class="

                d-flex
                justify-content-between
                align-items-center
                px-0
              "
            >
              <strong>GST</strong>
              <span>0.00</span>
            </li>
            <li
              class="

                d-flex
                justify-content-between
                align-items-center
                border-0
                px-0
                mb-3
              "
            >
              <div>
                <strong>The total amount of</strong>
                <strong>
                  <p class="mb-0">(including VAT)</p>
                </strong>
              </div>
              <span
                ><strong>{{
                  total | currency: "USD":"symbol":"2.1"
                }}</strong></span
              >
            </li>
          </ul>
          <button
            type="button"
            [routerLink]="['/']"
            class="btn btn-primary btn-block waves-effect "
          >
            go to checkout
          </button>
          <button
          type="button"
          [routerLink]="['/']"
          class="btn btn-primary btn-block waves-effect "
        >
          Continue Shopping
        </button>
        </div>
      </div>
    </div>
  </div>
</section>
